In [1]:
import pandas as pd

In [3]:
# read from CSV
df=pd.read_csv("cleanData_survey_results_public_2020.csv")
df.head(3)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
1,33,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14
2,42,I am a developer by profession,No,32.0,14,Yearly,130000.0,130000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Spring,ASP.NET;Flask;React.js;Spring,Somewhat less welcome now than last year,37.0,16,10

In [4]:
df.shape

(4213, 61)

In [5]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4213 entries, 0 to 4212
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    4213 non-null   int64
 1   MainBranch                    4213 non-null   object
 2   Hobbyist                      4213 non-null   object
 3   Age                           4213 non-null   float64
 4   Age1stCode                    4213 non-null   object
 5   CompFreq                      4213 non-null   object
 6   CompTotal                     4213 non-null   float64
 7   ConvertedComp                 4213 non-null   float64
 8   Country                       4213 non-null   object
 9   CurrencyDesc                  4213 non-null   object
 10  CurrencySymbol                4213 non-null   object
 11  DatabaseDesireNextYear        4213 non-null   object
 12  DatabaseWorkedWith            4213 non-null   object
 13  DevType                       4213 non-null   object
 14  EdLevel                       4213 non-null   object
 15  Employment                    4213 non-null   object
 16  Ethnicity                     4213 non-null   object
 17  Gender                        4213 non-null   object
 18  JobFactors                    4213 non-null   object
 19  JobSat                        4213 non-null   object
 20  JobSeek                       4213 non-null   object
 21  LanguageDesireNextYear        4213 non-null   object
 22  LanguageWorkedWith            4213 non-null   object
 23  MiscTechDesireNextYear        4213 non-null   object
 24  MiscTechWorkedWith            4213 non-null   object
 25  NEWCollabToolsDesireNextYear  4213 non-null   object
 26  NEWCollabToolsWorkedWith      4213 non-null   object
 27  NEWDevOps                     4213 non-null   object
 28  NEWDevOpsImpt                 4213 non-null   object
 29  NEWEdImpt                     4213 non-null   object
 30  NEWJobHunt                    4213 non-null   object
 31  NEWJobHuntResearch            4213 non-null   object
 32  NEWLearn                      4213 non-null   object
 33  NEWOffTopic                   4213 non-null   object
 34  NEWOnboardGood                4213 non-null   object
 35  NEWOtherComms                 4213 non-null   object
 36  NEWOvertime                   4213 non-null   object
 37  NEWPurchaseResearch           4213 non-null   object
 38  NEWPurpleLink                 4213 non-null   object
 39  NEWSOSites                    4213 non-null   object
 40  NEWStuck                      4213 non-null   object
 41  OpSys                         4213 non-null   object
 42  OrgSize                       4213 non-null   object
 43  PlatformDesireNextYear        4213 non-null   object
 44  PlatformWorkedWith            4213 non-null   object
 45  PurchaseWhat                  4213 non-null   object
 46  Sexuality                     4213 non-null   object
 47  SOAccount                     4213 non-null   object
 48  SOComm                        4213 non-null   object
 49  SOPartFreq                    4213 non-null   object
 50  SOVisitFreq                   4213 non-null   object
 51  SurveyEase                    4213 non-null   object
 52  SurveyLength                  4213 non-null   object
 53  Trans                         4213 non-null   object
 54  UndergradMajor                4213 non-null   object
 55  WebframeDesireNextYear        4213 non-null   object
 56  WebframeWorkedWith            4213 non-null   object
 57  WelcomeChange                 4213 non-null   object
 58  WorkWeekHrs                   4213 non-null   float64
 59  YearsCode                     4213 non-null   object
 60  YearsCodePro                  4213 non-null   object
dtypes: float64(4), int64(1), object(56)
memory usage: 2.0+ MB

In [7]:
df.describe()

         Respondent          Age     CompTotal  ConvertedComp  WorkWeekHrs
count   4213.000000  4213.000000  4.213000e+03   4.213000e+03  4213.000000
mean   27533.329694    32.072158  2.740265e+06   1.116038e+05    41.265523
std    18439.176546     7.482935  4.297804e+07   2.459682e+05    15.344240
min       10.000000    17.000000  0.000000e+00   0.000000e+00     2.000000
25%    12200.000000    26.000000  3.000000e+04   3.037200e+04    40.000000
50%    24863.000000    31.000000  7.200000e+04   6.050500e+04    40.000000
75%    46016.000000    36.000000  1.300000e+05   1.000000e+05    45.000000
max    64938.000000    70.000000  1.900000e+09   2.000000e+06   425.000000

In [8]:
df.isnull().sum()

Respondent            0
MainBranch            0
Hobbyist              0
Age                   0
Age1stCode            0
                     ..
WebframeWorkedWith    0
WelcomeChange         0
WorkWeekHrs           0
YearsCode             0
YearsCodePro          0
Length: 61, dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [14]:
# How many want to change
df["WelcomeChange"].value_counts()

Just as welcome now as I felt last year                    3167
Somewhat more welcome now than last year                    391
Somewhat less welcome now than last year                    273
A lot more welcome now than last year                       188
A lot less welcome now than last year                       148
Not applicable - I did not use Stack Overflow last year      46
Name: WelcomeChange, dtype: int64

In [13]:
# find jobseek employe
df["JobSeek"].value_counts()

I’m not actively looking, but I am open to new opportunities    2617
I am not interested in new job opportunities                    1119
I am actively looking for a job                                  477
Name: JobSeek, dtype: int64

In [12]:
# find year of code experince and their number
df["YearsCode"].value_counts()

10                    360
20                    277
15                    262
12                    236
8                     229
7                     222
6                     215
9                     188
5                     170
13                    166
11                    165
16                    155
14                    141
25                    140
18                    126
4                     114
30                    109
22                    105
17                    101
19                     83
23                     65
21                     53
3                      52
35                     46
24                     43
27                     41
26                     40
28                     33
32                     32
37                     29
40                     28
29                     25
33                     23
34                     23
2                      21
38                     18
31                     17
36                     17
39                     11
1                       8
43                      6
44                      5
41                      5
42                      3
Less than 1 year        2
More than 50 years      1
50                      1
45                      1
Name: YearsCode, dtype: int64